body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.table-container {
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
}

.filter-dropdown {
    display: block;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-container {
    display: flex;
    align-items: center;
}

.clear-button, .sort-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Additional styling for hover effects, responsive design, etc. */
